{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'shop_manager/css/shop_manager.css' %}">
    <link rel="stylesheet" href="{% static 'shop_manager/css/notyf.css' %}">
    <title>{{ title }}</title>
</head>
<body>
{% csrf_token %}

<div class="pageContainer min-h-screen grid grid-rows-dashboard-mobile-template lg:grid-cols-dashboard-template lg:grid-rows-none">
    {% csrf_token %}
    {% include 'shop_manager/includes/sidebar/sidebar.html' %}

    <div class="dashboardContainer bg-dashboard-gray">
        <div class="py-4 px-4 lg:px-8 flex items-center justify-between bg-white shadow-md mb-3">
            <div class="flex items-center gap-2">
                <svg class="icon" width="22" height="22" fill="currentColor">
                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#home"></use>
                </svg>
                <h4 class="font-bold">{{ title }}</h4>
            </div>
            <div>
                <p>{{ request.user.username }}</p>
            </div>
        </div>
        {% block dashboard %}
        {% endblock dashboard %}
    </div>
</div>

{% block extra_content %}
{% endblock extra_content %}

<script src="{% static 'bundles/shop_manager_v2.bundle.js' %}"></script>
</body>
</html>