DEBUG=True
SECRET_KEY=0gh#k^xb%6abgfdom($ln$5&4@3a9nt#_q-tjq&9x(s7)rn37#
ALLOWED_DJANGO_HOSTS=localhost
USE_SQLITE=True
DATABASE_NAME=db.sqlite3
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_ACCESS_TOKEN=
FACEBOOK_AD_ACCOUNT_ID=
FACEBOOK_CATALOGUE_ID=  
FACEBOOK_DATASET_ID=

MAILJET_API_KEY=
MAILJET_SECRET_KEY=