<div class="flex items-center gap-1">

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="paginator-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
            </svg>
        </a>

        {% if page_obj.number > 3 %}
            <a href="?page=1" class="paginator-number">1</a>
            {% if page_obj.number > 4 %}
                <span>...</span>
            {% endif %}
        {% endif %}
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a href="?page={{ num }}" class="paginator-number active">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}" class="paginator-number">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
            <span>...</span>
            <a href="?page={{ page_obj.paginator.num_pages }}"
               class="paginator-number">{{ page_obj.paginator.num_pages }}</a>
        {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
            <a href="?page={{ page_obj.paginator.num_pages }}"
               class="paginator-number">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}

        <a href="?page={{ page_obj.next_page_number }}" class="paginator-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>
    {% endif %}

</div>