@tailwind base;
@tailwind components;
@tailwind utilities;


.shop-container {
    @apply container mx-auto p-4 break-words;
}

.shop-container--flex {
    @apply container mx-auto p-4;
    @apply flex flex-col gap-5;
    @apply break-words;
}

.shop-container--horizontalPadding {
    @apply container mx-auto px-4;
}

.shop-container--headerContent {
    @apply container mx-auto px-4 pb-4 pt-9;
}

.shop-container--footerContent {
    @apply container p-4 w-full flex flex-col mx-auto;
    @apply lg:items-center lg:justify-center;
}

.footer__itemsGroup {
    @apply flex flex-col gap-4 w-full;
    @apply lg:flex-row lg:justify-between lg:items-center md:gap-8;
    @apply mb-8;
}

.productsGrid {
    @apply grid grid-cols-2 gap-5;
    @apply md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6;
}

.quantityInput, .quantityInput::-webkit-outer-spin-button, .quantityInput::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance: textfield !important;
}

.cartItem__quantityInput, .cartItem__quantityInput::-webkit-outer-spin-button, .cartItem__quantityInput::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance: textfield !important;
}


.paginator-number {
    @apply text-brand-primary;
    @apply py-1.5;
    @apply px-4;
    @apply rounded;
    @apply font-bold;
    @apply hover:bg-brand-primary;
    @apply hover:text-white;
}

.paginator-number.active {
    @apply bg-brand-primary;
    @apply text-white;
}

.paginator-arrow {
    @apply text-brand-primary;
    @apply p-1.5;
    @apply rounded;
    @apply hover:bg-brand-primary;
    @apply hover:text-white;
}

.toggle {
    @apply w-full rounded-lg cursor-pointer;
    @apply flex justify-between items-center;
    @apply px-3 py-1.5;
    @apply bg-[#E6E6E6];
    @apply hover:bg-brand-primary;
    @apply hover:text-white;
}

.toggle.active {
    @apply text-white;
    @apply bg-brand-primary;
}

#sideCartOverlay {
    @apply hidden;
}

#sideCartOverlay.active {
    @apply block;
}

#sideCart {
    /*@apply active;*/
    @apply absolute top-0 right-0 z-[150];
    @apply bg-white shadow-2xl shadow-black;
    @apply w-11/12 md:w-6/12 lg:w-4/12 xl:w-3/12 2xl:w-2/12 h-full;
    @apply flex flex-col ml-auto;
    @apply scale-x-0 transition-transform origin-right;
}

#sideCart.active {
    @apply scale-x-100;
    @apply transition-transform;
}

#checkoutContainer {
    @apply hidden;
}

#checkoutContainer.active {
    @apply flex;
}

#sideCart .sideCart__buyableAction, #sideCart .sideCart__buyableAction--flex {
    @apply hidden;
}

#sideCart.buyableCart .sideCart__emptyAction {
    @apply hidden;
}

#sideCart.buyableCart .sideCart__buyableAction {
    @apply block;
}

#sideCart.buyableCart .sideCart__buyableAction--flex {
    @apply flex;
}

.checkoutFormInput {
    @apply rounded-tr-lg rounded-br-lg;
    @apply border border-black/20;
    @apply h-[43px] px-3 w-full;
    @apply focus:outline-brand-action;
}

input.error {
    @apply border-red-500;
}

div.error {
    @apply border border-r-0 border-red-500;
}
