{% extends 'shop_manager/base.html' %}
{% load static %}
{% block dashboard %}
    <div class="py-4 px-4 lg:px-8 flex flex-col items-start gap-4">
        {% with button_classes="p-4 rounded-lg text-sm font-bold w-full text-white transition-all hover:bg-black/80" %}
            <button class="{{ button_classes }} bg-green-600" id="stockManagerActions__addStockButton">ДОДАЈ ЗАЛИХА
            </button>
            <button class="{{ button_classes }} bg-red-400" id="stockManagerActions__removeStockButton">МИНУСИРИ ЗАЛИХА
            </button>
        {% endwith %}
        <div class="w-full relative">
            <div id="qrCodeReader"></div>
            <div class="absolute w-full h-full top-0 flex justify-between items-center bg-black/70 z-50 rounded isDoingNothing"
                 id="scanner__overlay">
                <svg class="icon animate-spinner mx-auto text-white" width="36" height="36" fill="currentColor">
                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#spinner"></use>
                </svg>
            </div>
        </div>
    </div>



{% endblock dashboard %}

{% block extra_content %}
    <div class="fixed bottom-0 w-full text-center p-4 isDoingNothing" id="stockManagerCurrentActionBanner">
        <p class="text-lg font-bold text-white" id="stockManagerCurrentActionBanner__actionLabel">{action_type}</p>
    </div>

    <!-- make a modal for adding stock -->
    <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black/60 z-50 isDoingNothing"
         id="scannedProductModal">
        <div class="absolute bg-white rounded z-100">
            <div class="p-4 flex flex-col gap-6 text-center ">
                <p class="font-bold" id="scannedProductModal__currentActionLabel">{current_action}</p>
                <p class="font-bold text-2xl" id="scannedProductModal__label">{stock_item label}</p>
                <img src="#" alt="{stock_item thumbnail}"
                     id="scannedProductModal__thumbnail">
                {% with button_classes="p-4 rounded-lg text-sm font-bold w-full text-white transition-all hover:bg-black/80" %}
                    <button class="{{ button_classes }} bg-green-600" id="scannedProductModal__confirmActionButton">
                        Потврди
                    </button>
                    <button class="{{ button_classes }} bg-red-400" id="scannedProductModal__cancelActionButton">Откажи
                    </button>
                {% endwith %}
            </div>
        </div>
    </div>

{% endblock extra_content %}

