{% extends 'shop_manager/base.html' %}
{% load static %}
{% block dashboard %}
    <div class="py-4 px-4 lg:px-8 flex flex-col items-start gap-4">
        {% with button_classes="p-4 rounded-lg text-sm font-bold w-full text-white transition-all hover:bg-black/80" %}
            <button class="{{ button_classes }} bg-green-600">ДОДАЈ ЗАЛИХА</button>
            <button class="{{ button_classes }} bg-red-400">МИНУСИРИ ЗАЛИХА</button>
        {% endwith %}
        <div id="reader" class="w-full"></div>
    </div>



{% endblock dashboard %}

{% block extra_content %}
    <div class="absolute bottom-0 w-full text-center p-4 isDoingNothing" id="stockManagerCurrentAction">
        <p class="text-lg font-bold text-white" id="stockManagerCurrentAction__actionLabel">СЕГА ДОДАВАШ ЗАЛИХА</p>
    </div>

    <!-- make a modal for adding stock -->
    <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black/60">
        <div class="absolute bg-white w-10/12 h-auto top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-lg">
            <div class="p-4">
                <p>Produkt</p>
                <img src="" alt="asd">
                <button>Yes</button>
                <button>No</button>
            </div>
        </div>
    </div>

{% endblock extra_content %}


{% block scripts %}
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="{% static 'shop_manager/js/stock_manager.js' %}"></script>
{% endblock scripts %}


