{% extends 'shop_manager/base.html' %}
{% load static %}
{% block dashboard %}

    <div class="py-4 px-4 lg:px-8 flex flex-col items-start gap-4">
        <div class="p-4 w-full bg-white rounded-xl shadow-md flex flex-col gap-4 ">
            <div class="flex items-center justify-between">
                <h4 class="text-xl font-bold">Продукти</h4>
                {% include 'shop_manager/includes/dashboard_paginator.html' %}
            </div>
            <div class="overflow-x-auto">
                <table class="table-auto w-full text-left">
                    <thead class="border-b border-gray-200">
                    <tr>
                        <th class="font-normal">Thumbnail</th>
                        <th class="font-normal">Item</th>
                        <th class="font-normal">SKU</th>
                        <th class="font-normal">Label</th>
                        <th class="font-normal">Reserved Stock</th>
                        <th class="font-normal">Stock</th>
                        <th class="font-normal">Qr code</th>
                    </tr>
                    </thead>
                    <tbody class="">
                    {% for item in page_obj %}
                        <tr class="border-b-2 border-gray-200">
                            {% if item.thumbnail %}
                                <td class="table_field">
                                    <img src="{{ item.thumbnail.url }}" alt="" class="w-24 h-24 object-cover">
                                </td>
                            {% endif %}
                            <td class="table_field">
                                <p>{{ item.title }}</p>
                            </td>
                            <td class="table_field">
                                <p>{{ item.sku }}</p>
                            </td>
                            <td class="table_field">
                                <p>{{ item.label }}</p>
                            </td>
                            <td class="table-field">
                                <p>{{ item.reserved_stock }}</p>
                            </td>
                            <td class="table_field">
                                <p>{{ item.stock }}</p>
                            </td>
                            <td class="table_field">
                                <img src="{{ item.qr_code.url }}" alt="" class="w-24 h-24 object-cover">
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock dashboard %}