{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
    {% endblock head %}
    <!-- Google fonts (Mulish) -->
    {#    <link rel="preconnect" href="https://fonts.googleapis.com">#}
    {#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
    {#    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"#}
    {#          rel="stylesheet">#}

    <!-- Adobe fonts (Century Gothic) -->
    <link href="https://fonts.cdnfonts.com/css/century-gothic-paneuropean" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">

    <title>{{ title }}</title>
</head>
<body class="font-century-gothic bg-white">
{% csrf_token %}
{% include 'shop/includes/header.html' %}
<div class="shop-container--flex text-brand-primary">
    {% block content %}
    {% endblock content %}
</div>

{% include 'shop/includes/footer.html' %}

<script src="{% static 'bundles/shop.bundle.js' %}"></script>
{% block scripts %}
{% endblock scripts %}

</body>
</html>