{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    {% if not products and empty_message %}
        <h1 class="font-bold">{{ empty_message }}</h1>
    {% else %}

        {% with list=products %}
            {% include 'shop/includes/product_list.html' %}
        {% endwith %}

        <div class="flex items-center justify-center gap-1 mt-auto">

            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="paginator-arrow">

                    <svg class="" width="24" height="24"
                         fill="currentColor">
                        <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#squareArrowLeft"></use>
                    </svg>
                </a>

                {% if page_obj.number > 3 %}
                    <a href="?page=1" class="paginator-number">1</a>
                    {% if page_obj.number > 4 %}
                        <span>...</span>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?page={{ num }}" class="paginator-number active">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}" class="paginator-number">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                    <span>...</span>
                    <a href="?page={{ page_obj.paginator.num_pages }}"
                       class="paginator-number">{{ page_obj.paginator.num_pages }}</a>
                {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                    <a href="?page={{ page_obj.paginator.num_pages }}"
                       class="paginator-number">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}

                <a href="?page={{ page_obj.next_page_number }}" class="paginator-arrow">
                    <svg class="" width="24" height="24"
                         fill="currentColor">
                        <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#squareArrowRight"></use>
                    </svg>
                </a>
            {% endif %}

        </div>
    {% endif %}
{% endblock content %}