{% load static %}
<footer class="bg-brand-primary rounded-t-lg z-20">
    <div class="shop-container shop-container--footerContent">
        <div>
            <img src="{% static 'common/assets/brand/logo-white.png' %}" alt="" width="105" class="mx-auto h-auto mb-6">
        </div>
        <div class="footer__itemsGroup">
            <div class="flex flex-col gap-2">
                <p class="text-lg text-brand-accent">Контакт</p>
                <a href="tel:+38971417444"
                   class="text-sm text-white transform-all duration-200 ease-in-out hover:text-brand-action">Телефон:
                    071 417 444</a>
                <a href="mailto:hello@trendiko.mk"
                   class="text-sm text-white transform-all duration-200 ease-in-out hover:text-brand-action">Емаил:
                    hello@trendiko.mk</a>
                <p class="text-sm text-white">Работно време: 08:00 - 22:00 ( пон - саб )</p>
            </div>
            <div class="flex flex-col gap-2">
                <p class="text-lg text-brand-accent">Информации</p>
                <a href="{% url 'shop:brand_page' slug='dostava' %}"
                   class="text-sm text-white transform-all duration-200 ease-in-out hover:text-brand-action">Политика за
                    достава</a>
                <a href="{% url 'shop:brand_page' slug='reklamacija' %}"
                   class="text-sm text-white transform-all duration-200 ease-in-out hover:text-brand-action">Политика за
                    рекламација</a>
                <a href="{% url 'shop:brand_page' slug='pravila-za-koristenje' %}"
                   class="text-sm text-white transform-all duration-200 ease-in-out hover:text-brand-action">Правила
                    за користење</a>
                <a href="{% url 'shop:brand_page' slug='politika-za-privatnost-i-kolacinja' %}"
                   class="text-sm text-white transform-all duration-200 ease-in-out hover:text-brand-action">Политика
                    за приватност и колачиња</a>
            </div>
            <div class="flex flex-col gap-2">
                <p class="text-lg text-brand-accent">За Trendiko.mk</p>
                <a href="{% url 'shop:brand_page' slug='about-us' %}"
                   class="text-sm text-white transform-all duration-200 ease-in-out hover:text-brand-action">За
                    Нас и Нашиот Тим</a>
            </div>
        </div>

        <div class="flex items-center gap-1.5 pb-16">
            <svg class="text-white" width="24" height="24" fill="currentColor">
                <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#copyright"></use>
            </svg>
            <p class="text-white text-sm">2024, Сите права задржани, Trendiko.mk</p>
        </div>

        <div class="flex items-center justify-center gap-4">
            <a href="https://www.facebook.com/trendiko.mk">
                <svg class="text-brand-accent  transform-all duration-200 ease-in-out hover:text-brand-action"
                     width="36" height="36" fill="currentColor">
                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#facebook"></use>
                </svg>
            </a>
            <a href="https://www.instagram.com/trendiko.mk/">
                <svg class="text-brand-accent transform-all duration-200 ease-in-out hover:text-brand-action" width="36"
                     height="36" fill="currentColor">
                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#instagram"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>

<form action="{% url 'shop:search_page' %}" method="get" class="z-[100] hidden" id="searchScreenContainer">
    <svg class="absolute top-6 right-6 text-white " width="32"
         height="32" fill="currentColor" id="searchScreenContainer__closeSearch">
        <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#close"></use>
    </svg>
    <div class="flex items-center justify-center border-b border-white ">
        <input type="text" name="q" placeholder="Пребарај..."
               class="w-full bg-transparent outline-none text-2xl border-none text-center p-2.5 text-brand-action "
               id="searchScreenContainer__searchBar">
        <button type="submit" class="p-4">
            <svg class="text-white" width="24" height="24" fill="currentColor">
                <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#search"></use>
            </svg>
        </button>
    </div>
</form>