{% load static %}
<header class="bg-brand-secondary">
    <div class="flex flex-col items-center justify-center w-full bg-brand-primary">
        <div class="flex items-center justify-between shop-container--headerContent  rounded-b-lg">

            <svg class="text-white cursor-pointer hover:text-brand-action" width="26" height="26" fill="currentColor"
                 id="menuIcon">
                <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#menu"></use>
            </svg>


            <a href="{% url 'shop:home' %}"> <img src="{% static 'common/assets/brand/logo-white.png' %}"
                                                  alt="Trendiko's brand logo"
                                                  class="max-w-[120px]"></a>

            <div class="flex items-center justify-center gap-4">
                <div class="p-2">
                    <svg class="text-white cursor-pointer hover:text-brand-action" width="22" height="22"
                         fill="currentColor">
                        <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#person"></use>
                    </svg>
                </div>
                <div class="relative" id="cartIcon">
                    <div class="p-2">
                        <svg class="text-white cursor-pointer hover:text-brand-action" width="22" height="22"
                             fill="currentColor">
                            <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#cart2"></use>
                        </svg>
                    </div>
                    <div class="absolute top-[-6px] right-[-6px] w-3.5 h-3.5 bg-brand-accent rounded flex items-center justify-center">
                        <span class="text-xs text-black relative top-[1px]" id="cartIcon__currentQuantity">2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-brand-primary/80 w-full hidden" id="navbar">
        <div class="shop-container">
            <nav>
                <ul class="flex flex-col">
                    {% for category in categories %}
                        <li class="py-2 cursor-pointer text-brand-secondary  hover:text-brand-action group">
                            <a href="{{ category.get_absolute_url }}"
                               class="">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="flex flex-row items-center overflow-x-auto whitespace-nowrap shop-container--horizontalPadding gap-4">
        {% for category in categories %}
            <a href="{{ category.get_absolute_url }}"
               class="py-2 cursor-pointer hover:text-brand-action hover:underline ">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>
</header>
<!-- Overlay -->
<div class="container-fluid w-full h-full overflow-hidden absolute top-0 right-0 bg-black/70 z-[100]" id="overlay"
     style="display:none!important;"></div>
<!-- End Overlay -->

<!-- Side Cart -->
{% with cart=request.cart %}
    <div class=""
         id="sideCart">
        <div class="py-3 border-b-2">
            <div class="pl-5 pr-3 w-full flex justify-between items-center">
                <p class="py-2 font-semibold">Кошничка</p>
                <div class="p-2" id="closeCartIcon">
                    <svg class="text-black cursor-pointer hover:text-brand-action" width="24" height="24"
                         fill="currentColor">
                        <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#close"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="h-full flex flex-col flex-auto items-stretch justify-between">
            <div class="relative flex-auto overflow-hidden w-full h-full">
                <div class="absolute top-0 right-0 left-0 bottom-0 overflow-auto overflow-x-hidden" id="cartBody">
                    <!-- Cart Item -->
                    {% if not cart.is_empty %}
                        {% for cartItem in cart.cart_items.all %}
                            <div class="flex gap-2 items-center py-4 border-b-2 p-5 cartItem"
                                 data-cart-item-id="{{ cartItem.id }}">
                                <picture class="">
                                    <source srcset="{{ cartItem.product.thumbnail.url }}" type="image/webp">
                                    <source srcset="{{ cartItem.product.thumbnail_as_jpeg.url }}" type="image/png">
                                    <img src="{{ cartItem.product.thumbnail_as_jpeg.url }}" alt=""
                                         class="rounded-lg" width="120" height="120">
                                </picture>
                                <div class="flex-grow">
                                    <p class="font-semibold">Lorem ipsum dolor sit.</p>
                                    <p class="font-semibold text-brand-action mt-2"><span class="cartItem__salePrice">599</span>
                                        ден</p>
                                    <div class="flex items-center w-9/12 h-9 bg-white rounded-lg mb-4">
                                        <button class="w-3/12 h-full hover:bg-brand-primary hover:text-white rounded-l-lg border border-r-0 border-black/60">
                                            -
                                        </button>
                                        <input type="number" value="{{ cartItem.quantity }}" min="1"
                                               class="w-6/12 h-full text-center cartItem__quantityInput border-t border-b border-black/60 focus:outline-0">
                                        <button class="w-3/12 h-full hover:bg-brand-primary hover:text-white rounded-r-lg border border-l-0 border-black/60">
                                            +
                                        </button>
                                    </div>
                                    <div>
                                        <svg class="text-black cursor-pointer hover:text-black/60" width="22"
                                             height="22"
                                             fill="currentColor">
                                            <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#trash"></use>
                                        </svg>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-sm text-black/60 p-5 emptyCartText">Вашата кошничка е празна.</p>
                    {% endif %}
                    <!-- End Cart Item -->
                </div>
            </div>
            <div class="p-5 border-t-2">
                {% if not cart.is_empty %}
                    <div class="flex justify-between items-center text-lg mb-2">
                        <p class="font-semibold">Вкупно</p>
                        <p id="cartTotal">{{ cart.get_total }} ден</p>
                    </div>
                    <p class="text-sm text-black/60 mb-2">Данок вклучен. Испораката е пресметанa при наплата</p>
                    <a href=""
                       class="block text-center cursor-pointer bg-brand-action font-semibold text-white rounded-lg p-2 hover:bg-brand-primary/80">Кон
                        Нарачка</a>
                {% else %}
                    <button
                            class="w-full text-center cursor-pointer bg-brand-primary font-semibold text-white rounded-lg p-2 hover:bg-brand-primary/80 cartGoBackButton">
                        Назад
                    </button>
                {% endif %}

            </div>
        </div>
    </div>
{% endwith %}
<!-- End Side Cart -->
