{% load static %}
<header class="bg-brand-secondary overflow-x-hidden">
    <div class="flex flex-col items-center justify-center w-full bg-brand-primary">
        <div class="flex items-center justify-between shop-container--headerContent  rounded-b-lg">

            <svg class="text-white cursor-pointer hover:text-brand-action" width="26" height="26" fill="currentColor"
                 id="menuIcon">
                <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#menu"></use>
            </svg>


            <a href="{% url 'shop:home' %}"> <img src="{% static 'common/assets/brand/logo-white.png' %}"
                                                  alt="Trendiko's brand logo"
                                                  class="max-w-[120px]"></a>

            <div class="flex items-center justify-center gap-4">
                <div class="p-2">
                    <svg class="text-white cursor-pointer hover:text-brand-action" width="22" height="22"
                         id="searchIcon"
                         fill="currentColor">
                        <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#search"></use>
                    </svg>
                </div>
                <div class="relative" id="cartIcon">
                    <div class="p-2">
                        <svg class="text-white cursor-pointer hover:text-brand-action" width="24" height="21"
                             fill="currentColor">
                            <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#cart2"></use>
                        </svg>
                    </div>
                    <div class="absolute top-[-6px] right-0 w-3.5 h-3.5 bg-brand-accent rounded flex items-center justify-center">
                        <span class="text-xs text-black relative top-[1px]"
                              id="cartIcon__currentQuantity">{{ request.cart.get_total_quantity }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-brand-primary/80 w-full hidden" id="navbar">
        <div class="shop-container">
            <nav>
                <ul class="flex flex-col">
                    {% for category in categories %}
                        <li class="cursor-pointer text-brand-secondary  hover:text-brand-action group w-full">
                            <a href="{{ category.get_absolute_url }}"
                               class="block w-full py-2">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="flex flex-row items-center overflow-x-auto whitespace-nowrap shop-container--horizontalPadding gap-4"
         id="headerHorizontalCategoriesList">
        {% for category in categories %}
            <a href="{{ category.get_absolute_url }}"
               class="py-2 cursor-pointer hover:text-brand-action hover:font-bold hover:underline ">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>
</header>

{% if show_call_button %}
    <div class="sticky top-0 left-0 z-[100] w-full bg-brand-secondary stickyBannerContainer">
        <p
                class="text-center font-bold flex items-center justify-center gap-2 p-1 pt-2 w-full md:hidden text-xs text-brand-action stickyBannerContainer__freeDeliveryText">
            Бесплатна
            достава над 1500 денари
        </p>

        <div class="w-full bg-brand-primary stickyBannerContainer__orderByPhone">
            <a href="tel:+38971417444"
               class="text-center font-bold text-white flex items-center justify-center gap-2 p-3 w-full md:hidden">НАРАЧАЈ
                ТЕЛЕФОНСКИ
                <svg class="text-white rotate-[260deg]" width="24" height="24" fill="currentColor">
                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#phone"></use>
                </svg>
            </a>
        </div>

    </div>
{% endif %}

<!-- Overlay -->
<div class="container-fluid w-full h-full overflow-hidden fixed top-0 right-0 bg-brand-primary/80 z-[100]"
     id="sideCartOverlay">

</div>
<!-- End Overlay -->

<!-- Side Cart -->
{% with cart=request.cart %}
    <div class="{% if not cart.is_empty %}buyableCart{% endif %}"
         id="sideCart">
        <div class="py-3 border-b-2">
            <div class="pl-5 pr-3 w-full flex justify-between items-center">
                <p class="py-2 font-semibold">Кошничка</p>
                <div class="p-2" id="closeCartIcon">
                    <svg class="text-black cursor-pointer hover:text-brand-action" width="24" height="24"
                         fill="currentColor">
                        <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#close"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="h-full flex flex-col flex-auto items-stretch justify-between">
            <div class="relative flex-auto overflow-hidden w-full h-full">
                <div class="absolute top-0 right-0 left-0 bottom-0 overflow-auto overflow-x-hidden" id="cartBody">
                    <!-- Cart Item -->
                    {% for cart_item in cart.cart_items.all %}
                        <div class="flex gap-2 items-start py-4 border-b-2 p-5 cartItem"
                             data-cart-item-id="{{ cart_item.id }}">
                            {% with currentThumbnails=cart_item.thumbnails %}
                                <picture class="">
                                    <source srcset="{{ currentThumbnails.webp }}" type="image/webp">
                                    <source srcset="{{ currentThumbnails.jpg }}" type="image/png">
                                    <img src="{{ currentThumbnails.jpg }}" alt=""
                                         class="rounded-lg min-w-[120px]" width="120" height="120">
                                </picture>
                            {% endwith %}

                            <div class="flex-grow">
                                <div>
                                    <svg class="text-black cursor-pointer hover:text-black/60 cartItem__removeItem float-right"
                                         width="22"
                                         height="22"
                                         fill="currentColor">
                                        <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#trash"></use>
                                    </svg>
                                    <p class="font-semibold line-clamp-2">{{ cart_item.title }}</p>
                                </div>
                                {% if cart_item.attribute %}
                                    <p class="text-sm text-black/60">{{ cart_item.attribute.title }}</p>
                                {% endif %}
                                <p class="font-semibold text-brand-action my-2 leading-5"><span
                                        class="cartItem__salePrice">{{ cart_item.sale_price }}</span>
                                    ден</p>
                                <div class="flex items-center w-9/12 h-9 bg-white rounded-lg mb-4">
                                    <button class="w-3/12 h-full hover:bg-brand-primary hover:text-white rounded-l-lg border border-r-0 border-black/60">
                                        -
                                    </button>
                                    <input type="number" value="{{ cart_item.quantity }}" min="1"
                                           class="w-6/12 h-full text-center cartItem__quantityInput border-t border-b border-black/60 focus:outline-0"
                                           readonly>
                                    <button class="w-3/12 h-full hover:bg-brand-primary hover:text-white rounded-r-lg border border-l-0 border-black/60">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <p class="text-sm text-black/60 p-5 sideCart__emptyAction">Вашата кошничка е празна.</p>
                    <!-- End Cart Item -->
                </div>
            </div>
            <div class="p-5 border-t-2">

                <div class="flex justify-between items-center text-lg mb-2 sideCart__buyableAction--flex">
                    <p class="font-semibold">Вкупно</p>
                    <p><span id="cartTotal">{{ cart.get_items_total }}</span> ден</p>
                </div>
                <p class="text-sm text-black/60 mb-2 sideCart__buyableAction">Данок вклучен. Испораката е пресметанa при
                    наплата</p>
                <button
                        class="w-full text-center cursor-pointer bg-brand-action font-semibold text-white rounded-lg p-2 hover:bg-brand-primary/80 sideCart__buyableAction"
                        id="sideCart__goToCheckoutBtn">
                    Кон
                    Нарачка
                </button>
                <button
                        class="w-full text-center cursor-pointer bg-brand-primary font-semibold text-white rounded-lg p-2 hover:bg-brand-primary/80 cartGoBackButton sideCart__emptyAction"
                        id="sideCart__goBackButon">
                    Назад
                </button>

            </div>
        </div>
    </div>


    <div id="checkoutContainer"
         class="container-fluid w-full h-full overflow-auto fixed top-0 right-0 bg-brand-primary/70 z-[100] flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg w-[95%] max-h-[95%] lg:max-w-[720px] lg:h-auto lg:max-h-[95%] flex flex-col gap-4 overflow-y-auto"
             id="checkout">
            <div class="flex items-center justify-center">
                <img src="{% static 'common/assets/brand/logo-dark.png' %}" width="120"
                     alt="Image of Trendiko's brand logo">
            </div>
            <div class="relative border-b border-black/20 pt-0.5 pb-6 flex items-center justify-between">
                <h3 class="font-bold text-2xl text-brand-action text-left">Колку парчиња сакате?</h3>
                <svg class="text-black/60 cursor-pointer hover:text-brand-action" width="26"
                     height="26"
                     fill="currentColor"
                     id="closeCheckoutIcon">
                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#close"></use>
                </svg>
            </div>

            <div id="checkoutBody">
                {% for cart_item in cart.cart_items.all %}
                    <div class="flex gap-2 items-start py-4 border-b cartItem first-of-type:pt-0"
                         data-cart-item-id="{{ cart_item.id }}">
                        {% with currentThumbnails=cart_item.thumbnails %}
                            <picture class="">
                                <source srcset="{{ currentThumbnails.webp }}" type="image/webp">
                                <source srcset="{{ currentThumbnails.jpg }}" type="image/png">
                                <img src="{{ currentThumbnails.jpg }}" alt=""
                                     class="rounded-lg min-w-[120px]" width="120" height="120">
                            </picture>
                        {% endwith %}
                        <div class="flex-grow">
                            <div>
                                <svg class="text-black cursor-pointer hover:text-black/60 cartItem__removeItem float-right"
                                     width="22"
                                     height="22"
                                     fill="currentColor">
                                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#trash"></use>
                                </svg>
                                <p class="font-semibold line-clamp-2">{{ cart_item.title }}</p>
                            </div>
                            {% if cart_item.attribute %}
                                <p class="text-sm text-black/60">{{ cart_item.attribute.title }}</p>
                            {% endif %}
                            <p class="font-semibold text-brand-action my-2 leading-5"><span
                                    class="cartItem__salePrice">{{ cart_item.sale_price }}</span>
                                ден</p>
                            <div class="flex items-center w-9/12 h-9 bg-white rounded-lg mb-4">
                                <button class="w-3/12 h-full hover:bg-brand-primary hover:text-white rounded-l-lg border border-r-0 border-black/60">
                                    -
                                </button>
                                <input type="number" value="{{ cart_item.quantity }}" min="1"
                                       class="w-4/12 h-full text-center cartItem__quantityInput border-t border-b border-black/60 focus:outline-0"
                                       readonly>
                                <button class="w-3/12 h-full hover:bg-brand-primary hover:text-white rounded-r-lg border border-l-0 border-black/60">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div>
                <div class="flex justify-between items-center p-2 rounded-lg border border-brand-action">
                    <div class="flex items-center justify-center gap-3">
                        <svg class="text-brand-action cursor-pointer hover:text-black/60 min-w-[24px] min-h-[24px]"
                             width="24"
                             height="24"
                             fill="currentColor">
                            <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#toggledCircle"></use>
                        </svg>
                        <div class="flex flex-col items-start justify-start gap-1">
                            <p class="text-sm text-left">Достава до врата</p>
                            <p class="text-xs text-left text-brand-action">2 до 3 работни дена</p>
                        </div>
                    </div>
                    <p id="checkout__selectedShipping" class="text-right text-sm text-brand-action">
                        {% if cart.has_free_shipping %}
                            бесплатна достава
                        {% else %}
                            130 ден
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="bg-brand-primary/20 rounded-lg border border-black/20 ">
                <div class="p-2 flex flex-col gap-3">
                    <div class="flex justify-between items-center">
                        <p class="text-sm text-left">Цена</p>
                        <p class="font-bold text-right"><span
                                id="checkout__subtotalPrice">{{ cart.get_items_total }}</span> ден
                        </p>
                    </div>
                    <div class="flex justify-between items-center">
                        <p class="text-sm text-left">Провизија за готовинско работење</p>
                        <p class="font-bold text-right min-w-[60px]">20 ден</p>
                    </div>
                    <div class="flex justify-between items-center">
                        <p class="text-sm text-left">Достава</p>
                        <p class="font-bold text-right" id="checkout__selectedShipping2">
                            {% if cart.has_free_shipping %}
                                бесплатна достава
                            {% else %}
                                130 ден
                            {% endif %}
                        </p>
                    </div>
                    <div class="flex justify-between items-center border-t border-black/40 py-2">
                        <p class="text-left">Вкупно за плаќање на курирот</p>
                        <p class="font-bold text-lg text-right min-w-[90px]"><span
                                id="checkout__totalPrice">{{ cart.get_total_price }}</span>
                            ден</p>
                    </div>
                </div>

            </div>
            <div>
                <p class="text-center text-xl font-bold text-brand-action pb-1">Податоци за испорака</p>
                <p class="text-sm text-center pb-2">Плаќање на врата</p>
                <form action="" class="flex flex-col gap-3" id="checkoutForm">

                    <div>
                        {#                        <label for="checkoutForm__fullName" class="font-bold text-sm">Име и презиме <span#}
                        {#                                class="text-red-600">*</span></label>#}
                        <div class="flex items-center inputContainer">
                            <div class="flex items-center justify-center bg-brand-primary/20 h-[43px] w-[43px] rounded-tl-lg rounded-bl-lg inputIcon">
                                <svg class="text-brand-primary cursor-pointer hover:text-black/60"
                                     width="24"
                                     height="24"
                                     fill="currentColor">
                                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#person"></use>
                                </svg>
                            </div>
                            <input type="text"
                                   name="full_name"
                                   id="checkoutForm__fullName"
                                   class="checkoutFormInput"
                                   placeholder="Име и презиме"
                                   required>
                        </div>
                    </div>
                    <div>
                        {#                        <label for="checkoutForm__city" class="font-bold text-sm">Град <span#}
                        {#                                class="text-red-600">*</span></label>#}
                        <div class="flex items-start inputContainer">
                            <div class="flex items-center justify-center bg-brand-primary/20 h-[43px] w-[43px] rounded-tl-lg rounded-bl-lg inputIcon">
                                <svg class="text-brand-primary cursor-pointer hover:text-black/60"
                                     width="24"
                                     height="24"
                                     fill="currentColor">
                                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#milestone"></use>
                                </svg>
                            </div>
                            <input type="text"
                                   name="city"
                                   id="checkoutForm__city"
                                   class="checkoutFormInput isAutoComplete"
                                   required>
                        </div>
                    </div>

                    <div id="checkoutForm__municipalityContainer" class="hidden">
                        {#                        <label for="checkoutForm__municipality" class="font-bold text-sm">Општина <span#}
                        {#                                class="text-red-600">*</span></label>#}
                        <div class="flex items-start inputContainer">
                            <div class="flex items-center justify-center bg-brand-primary/20 h-[43px] w-[43px] rounded-tl-lg rounded-bl-lg inputIcon">
                                <svg class="text-brand-primary cursor-pointer hover:text-black/60"
                                     width="24"
                                     height="24"
                                     fill="currentColor">
                                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#locate"></use>
                                </svg>
                            </div>
                            <input type="text"
                                   name="municipality"
                                   id="checkoutForm__municipality"
                                   class="checkoutFormInput isAutoComplete"
                                   disabled>
                        </div>
                    </div>
                    <div>
                        {#                        <label for="checkoutForm__address" class="font-bold text-sm">Адреса <span#}
                        {#                                class="text-red-600">*</span></label>#}
                        <div class="flex items-center inputContainer">
                            <div class="flex items-center justify-center bg-brand-primary/20 h-[43px] w-[43px] rounded-tl-lg rounded-bl-lg inputIcon">
                                <svg class="text-brand-primary cursor-pointer hover:text-black/60"
                                     width="24"
                                     height="24"
                                     fill="currentColor">
                                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#pin"></use>
                                </svg>
                            </div>
                            <input type="text"
                                   name="address"
                                   id="checkoutForm__address"
                                   class="checkoutFormInput"
                                   placeholder="Адреса"
                                   required>
                        </div>
                    </div>

                    <div>
                        {#                        <label for="checkoutForm__phone" class="font-bold text-sm">Телефонски број <span#}
                        {#                                class="text-red-600">*</span></label>#}
                        <div class="flex items-center inputContainer">
                            <div class="flex items-center justify-center bg-brand-primary/20 h-[43px] w-[43px] rounded-tl-lg rounded-bl-lg inputIcon">
                                <svg class="text-brand-primary cursor-pointer hover:text-black/60"
                                     width="24"
                                     height="24"
                                     fill="currentColor">
                                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#phone"></use>
                                </svg>
                            </div>
                            <input type="number"
                                   name="phone"
                                   id="checkoutForm__phone"
                                   class="checkoutFormInput"
                                   placeholder="Телефон"
                                   required>
                        </div>
                    </div>

                    <div>
                        {#                        <label for="checkoutForm__email" class="font-bold text-sm">E-mail</label>#}
                        <div class="flex items-center inputContainer">
                            <div class="flex items-center justify-center bg-brand-primary/20 h-[43px] w-[43px] rounded-tl-lg rounded-bl-lg inputIcon">
                                <svg class="text-brand-primary cursor-pointer hover:text-black/60"
                                     width="24"
                                     height="24"
                                     fill="currentColor">
                                    <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#envelope"></use>
                                </svg>
                            </div>
                            <input type="email"
                                   name="email"
                                   id="checkoutForm__email"
                                   class="checkoutFormInput"
                                   placeholder="E-mail (не е задолжително)">
                        </div>
                    </div>
                </form>
            </div>

            <div class="w-full">
                <button class="h-12 w-full bg-brand-action rounded-lg text-white font-bold flex items-center justify-between p-1 hover:bg-brand-primary transition-all duration-100 ease-in-out sideCart__buyableAction"
                        id="checkoutBtn">
                    <div class="w-2/12 h-full flex items-center justify-center bg-white rounded-lg">
                        <svg class="text-brand-action" width="24" height="24" fill="currentColor">
                            <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#cart2"></use>
                        </svg>
                    </div>
                    <span class="w-10/12 text-xl buttonText">Заврши нарачка</span>
                    <div class="buttonSpinner flex w-10/12 hidden items-center justify-center" role="status">
                        <svg aria-hidden="true"
                             class="w-6 h-6 text-gray-200 animate-spin dark:text-gray-600 fill-brand-action"
                             viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                  fill="currentColor"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                  fill="currentFill"/>
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
            </div>

            <div class="w-full flex justify-between items-stretch gap-2 pt-1 pb-2">
                <div class="p-2 gap-1 rounded-lg border border-black/40 flex justify-between items-center">
                    <p class="w-11/12 text-xs font-bold ">Плаќање при испорака на курир</p>
                    <svg width="24" height="21" fill="currentColor">
                        <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#payOnDelivery"></use>
                    </svg>
                </div>
                <div class="p-2 rounded-lg border border-black/40 flex justify-between items-center">
                    <p class="w-11/12 text-xs font-bold ">Лесна замена на производи</p>
                    <svg width="24" height="21" fill="currentColor">
                        <use xlink:href="{% static 'common/assets/svg_sprite.svg' %}#exchangeProduct"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
{% endwith %}
<!-- End Side Cart -->
