<div class="flex flex-col gap-2">
    <div class="flex flex-col ">
        <h2 class="font-bold text-lg">{{ heading }}</h2>
        <a href="{% url 'shop:category_page' slug='free-shipping' %} "
           class="text-sm text-brand-action hover:text-brand-primary transform-all duration-200 ease-in-out w-fit">Погледај
            ги
            сите</a>
    </div>
    <div class="productsGrid">
        {% for product in list %}
            <div class="w-full flex flex-col gap-1.5 hover:scale-105 transition-transform duration-300 ease-in-out group">
                <a href="{{ product.get_absolute_url }}">
                    <picture>
                        <source srcset="{{ product.thumbnail_loop.url }}" type="image/webp">
                        <source srcset="{{ product.thumbnail_loop_as_jpeg }}" type="image/jpeg">
                        <img src="{{ product.thumbnail_loop_as_jpeg.url }}" alt="Image of a product"
                             class="rounded-lg" width="250" height="250">
                    </picture>
                </a>

                <a href="{{ product.get_absolute_url }}"
                   class="text-center font-bold hover:text-brand-action">{{ product.title }}
                </a>

                <div class="relative flex justify-between items-baseline">
                    <span class="font-bold text-brand-action">{{ product.sale_price }} ден.</span>
                    <span class="font-bold text-sm text-brand-gray -top-0.5 relative line-through">{{ product.regular_price }} ден.</span>
                </div>

                {% if product.has_free_shipping %}
                    <div class="flex items-center justify-center bg-brand-accent py-1 px-1.5 rounded-lg">
                        <p class="text-xs">Бесплатна испорака</p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="flex flex-col gap-2 items-center justify-center">
        <div class="h-[1px] w-[150px] bg-[#E2DEDE]"></div>
        <a href="{% url 'shop:category_page' slug='all-products' %}"
           class="text-brand-action font-bold text-center hover:text-brand-primary  transform-all duration-200 ease-in-out w-fit">Види
            повеќе</a>
    </div>
</div>

